@media (min-width: 1145px) {
  main {
    display: grid;
    column-gap: 24px;
    grid-template-columns: 1fr 3fr;
    min-height: 100vh;
    padding: 0 180px;
    place-content: center;
  }

  .left-side {
    margin-top: -12px;
  }

  .profile-container {
    flex-direction: column;
    height: 68%;
    padding: 24px 32px;
    bottom: -3%;
  }
  
  .profile-container p {
    color: rgb(218, 218, 218);
    font-size: 40px;
    font-weight: 300;
    line-height: 44px;
  }
  
  .profile-image img {
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 12px;
    max-width: 80px;
  }
  
  .period-selector {
    flex-direction: column;
    justify-content: space-evenly;
    height: 32%;
    padding: 12px 32px;
  }
  
  .right-side {
    display: grid;
    column-gap: 24px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat (2, minmax(0, 1fr));
    row-gap: 24px;
  }
  
  .time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .time-amount {
    font-size: clamp(1rem, 4.25vw, 4rem);
    font-weight: 300;
  }
  
  .time-before {
    color: var(--paleBlue);
    font-size: clamp(12px, 1.15vw, 1rem);
    font-weight: 300;
  }
}