:root {
  /* ## Colors */

  /* ### Primary */

  --blue: hsl(246, 80%, 60%);

  --bightRed: hsl(15, 100%, 70%); /* (work) */
  --softBlue: hsl(195, 74%, 62%); /* (play) */
  --lightRed: hsl(348, 100%, 68%); /* (study) */
  --limeGreen: hsl(145, 58%, 55%); /* (exercise) */
  --violet: hsl(264, 64%, 52%); /* (social) */
  --softOrange: hsl(43, 84%, 65%); /* (self care) */

  /* ### Neutral */

  --veryDarkBlue: hsl(226, 43%, 10%);
  --darkBlue: hsl(235, 46%, 20%);
  --desaturatedBlue: hsl(235, 45%, 61%);
  --paleBlue: hsl(236, 100%, 87%);
}

* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  margin: 0;
}

body {
  background-color: var(--veryDarkBlue);
}

.profile-container {
  background-color: var(--blue);
  border-radius: 16px;
  display: flex;
  position: relative;
}

.profile-container span {
  color: var(--paleBlue);
  font-size: 16px;
}

.period-selector {
  background-color: var(--darkBlue);
  border-radius: 0 0 16px 16px;
  color: var(--desaturatedBlue);
  display: flex;
}

.period {
  cursor: pointer;
  margin-top: 12px;
  transition: color 0.2s;
}

.period:hover {
  color: white;
}

.orange,
.blue,
.red,
.green,
.purple,
.yellow {
  border-radius: 20px;
  height: 100%;
}

.orange {
  background-color: var(--bightRed);
  background-image: url(../images/icon-work.svg);
  background-position: top -12px right 16px;
  background-repeat: no-repeat;

}

.blue {
  background-color: var(--softBlue);
  background-image: url(../images/icon-play.svg);
  background-position: top -4px right 16px;
  background-repeat: no-repeat;
}

.red {
  background-color: var(--lightRed);
  background-image: url(../images/icon-study.svg);
  background-position: top -8px right 16px;
  background-repeat: no-repeat;
}

.green {
  background-color: var(--limeGreen);
  background-image: url(../images/icon-exercise.svg);
  background-position: top 0 right 16px;
  background-repeat: no-repeat;
}

.purple {
  background-color: var(--violet);
  background-image: url(../images/icon-social.svg);
  background-position: top -12px right 16px;
  background-repeat: no-repeat;
}

.yellow {
  background-color: var(--softOrange);
  background-image: url(../images/icon-self-care.svg);
  background-position: top -12px right 16px;
  background-repeat: no-repeat;
}

.container {
  background-color: var(--darkBlue);
  border-radius: 16px;
  color: white;
  cursor: pointer;
  margin-top: 40px;
  padding: 32px 24px;
  transition: background-color 0.2s;
}

.container:hover {
  background-color: hsl(235, 36%, 40%);
}

.time-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.activity-name {
  font-weight: 500;
}

.time-header > img {
  cursor: pointer;
  transition: filter 0.1s;
}

.time-header > img:hover {
  filter: brightness(1000%);
}

.is-toggled {
  color: white;
}